<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <%- include("Boot.ejs") %>
    <style>
        .backimg1{
     background-image: url("https://media.istockphoto.com/id/1320882544/photo/glowing-light-bulb-and-book-or-text-book-with-futuristic-icon-self-learning-or-education.jpg?b=1&s=612x612&w=0&k=20&c=swIaRrs2C2hxbbzcvRlY29LIz6VPi3L2X2eVhWcn7go=");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
        }
    </style>
</head>
<body>
    <%-include("header.ejs")%>

    <div class="backimg1  mt-5 pt-5">
        <h1 class="me-auto text-center text-white">"Future Bright, Dreams Alight"<br>
"Shaping a Radiant Future"</h1>
    </div>

    <div class="container-fluid mt-5 pt-5">
  <div class="col abouttext1 abouttext1">

    <ul>
      <h3> THE UNFOLDING TALE OF BOOKVAANI.COM: WHERE EVERY PAGE IS A NEW ADVENTURE!</h3>
      <li>Picture this: A world where every book is a treasure waiting to be discovered, where literary wonders abound, and where the thrill of reading knows no bounds. That's the magic we're conjuring at bookvaani.com!</li>
      <li class="mt-3">It all began with a simple yet daring dream: to transform the way you experience the joy of reading. Armed with enthusiasm and fueled by caffeine (because let's face it, coffee and books are a match made in heaven), we set out on a wild journey to curate the quirkiest, most delightful collection of books you've ever laid eyes on.</li>
    </ul>

    <ul>
      <h3>A WHOLE NEW CHAPTER IN BOOKSHOPPING</h3>
      <li>Enter the bookvaani.com experience! We've scoured the nooks and crannies of the literary universe to bring you a handpicked selection of second-hand books that'll make your heart skip a beat. But wait, there's more! Each and every book undergoes a rigorous quality check to ensure it's in tip-top condition because, nobody likes a dog-eared page or a coffee-stained cover.</li>
      <li class="mt-3">And here's the kicker: all our books are 100% original copies, no pirated paperbacks here! We believe in supporting authors and respecting their work, so you can rest assured that every page you turn is legit and legally obtained.</li>
    </ul>

    <ul>
      <h3>THE MYSTERY UNFOLDS</h3>
      <li>But hold onto your bookmarks, folks, because we're about to drop the bombshell of bookish excitement: the Kitabay.com Mystery Box! Picture this: a box filled with literary surprises, a treasure trove of books handpicked just for you. It's like Christmas morning, but better (because who needs socks when you can have books?).</li>
      <li class="mt-3">And guess what? We're not stopping there! We’ve organized big scale books events in Jaipur and Bangalore featuring our very own Mystery box concept, where you can fill your box with whichever book you desire out of thousands! Our events have always been well received with love and we plan to do a lot more of these in the future.</li>
    </ul>

    <ul>
      <h3>THE MYSTERY UNFOLDS</h3>
      <li>But hold onto your bookmarks, folks, because we're about to drop the bombshell of bookish excitement: the Kitabay.com Mystery Box! Picture this: a box filled with literary surprises, a treasure trove of books handpicked just for you. It's like Christmas morning, but better (because who needs socks when you can have books?).</li>
      <li class="mt-3">And guess what? We're not stopping there! We’ve organized big scale books events in Jaipur and Bangalore featuring our very own Mystery box concept, where you can fill your box with whichever book you desire out of thousands! Our events have always been well received with love and we plan to do a lot more of these in the future.</li>
    </ul>

    <ul>
      <h3>THE MYSTERY UNFOLDS</h3>
      <li>But hold onto your bookmarks, folks, because we're about to drop the bombshell of bookish excitement: the Kitabay.com Mystery Box! Picture this: a box filled with literary surprises, a treasure trove of books handpicked just for you. It's like Christmas morning, but better (because who needs socks when you can have books?).</li>
      <li class="mt-3">And guess what? We're not stopping there! We’ve organized big scale books events in Jaipur and Bangalore featuring our very own Mystery box concept, where you can fill your box with whichever book you desire out of thousands! Our events have always been well received with love and we plan to do a lot more of these in the future.</li>
    </ul>

  </div>
</div>
    <%- include("footer.ejs") %>

</body>
</html>