<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <%- include("Boot.ejs")%>
</head>
<body>
  
<div class="container mt-5">
    <div class="row">

    <div class="col-md-3">
        <div class="card text-center" style="width: 18rem;">
  <img src="" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Title</h5>
    <p class="card-title">Author Name</p>
    <p class="card-text">500 Rs.</p>
    <a href="#" class="btn btn-primary">Go Somewhere</a>
  </div>
  </div>
</div>

</div>
</div>
    
</body>
</html>